@page "/"

<PageTitle>paintedbylizzie</PageTitle>

<div class="site-header">
    <img src="images/logo.png" alt="paintedbylizzie logo" class="logo" />
    <h1 class="site-title">paintedbylizzie</h1>
</div>

<div class="about-text">
    <p>My name is Elizabeth Kennedy, I'm a twenty-year-old philosophy student at Durham University with a lifelong love of art in all its forms. When I was young and people asked what I wanted to be, my answer never wavered: an artist. That hasn't changed and I couldn't be more excited to be realising that dream, displaying in a local gallery for the first time.</p>
    <p>Painting and drawing are where I feel most at home. What draws me to these is the chance to record beautiful things the way my mind's eye sees them; to translate a moment, face, or place into something a little more than the sum of its parts.</p>
    <p>Alongside my own work, I take on portrait and painting commissions. There's something I find genuinely special about helping someone capture an idea which matters to them by turning it into something immortalised and entirely unique.</p>
</div>

<div class="gallery">
    <img src="images/at work.png" alt="At work" />
    <img src="images/black dog.png" alt="Black dog" />
    <img src="images/vennels.png" alt="Vennels" />
    <img src="images/at-work.png" alt="At work" />
</div>
