@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<h1 class="portfolio-heading">Available Prints</h1>

<p class="portfolio-intro">All pieces below are available to order as signed prints. Prints are made to order so size is flexible and can be discussed in communication with me, Prices subject to size.</p>

<div class="print-item">
    <img src="images/first-autumn-prebends-bridge.png" alt="First Autumn, Prebends Bridge Durham" class="print-image" />
    <h2 class="print-title">First Autumn, Prebends Bridge Durham</h2>
</div>

<div class="print-item">
    <img src="images/stormy-saddler-street.png" alt="stormy saddler street" class="print-image" />
    <h2 class="print-title">stormy saddler street</h2>
</div>

<div class="print-item">
    <img src="images/durham-cathedral-riverside.png" alt="durham cathedral riverside" class="print-image" />
    <h2 class="print-title">durham cathedral riverside</h2>
</div>

<div class="print-item">
    <img src="images/Gathering-Daisies.png" alt="Gathering Daisies" class="print-image" />
    <h2 class="print-title">Gathering Daisies</h2>
</div>

<div class="print-item">
    <img src="images/Inquisitive.png" alt="Inquisitive" class="print-image" />
    <h2 class="print-title">Inquisitive</h2>
</div>
