@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<h1 class="portfolio-heading">Available Prints</h1>

<p class="portfolio-intro">To enquire about prints and order please use the contact form or email me directly. Bespoke print sizes are available subject to enquiry.</p>

<div class="print-item">
    <img src="images/stormy-saddler-street.png" alt="stormy saddler street" class="print-image" />
    <h2 class="print-title">stormy saddler street</h2>
</div>

<div class="print-item">
    <img src="images/durham-cathedral-riverside.png" alt="durham cathedral riverside" class="print-image" />
    <h2 class="print-title">durham cathedral riverside</h2>
</div>

<div class="print-item">
    <img src="images/first-autumn-prebends-bridge.png" alt="First Autumn, Prebends Bridge Durham" class="print-image" />
    <h2 class="print-title">First Autumn, Prebends Bridge Durham</h2>
</div>
